<footer class="nb-footer footer">
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <div class="text-center mt-3 mb-2">
                    <small class="font-open w400 grey">Projeto destinado ao estudo do framework Angular e design pattern Master/Detail</small>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="social-media">
                <ul class="list-inline">
                    <li class="mr-4 list-inline-item"><a href="https://github.com/kayqueprado580" target="_blank" title="Github"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></li>
                    <li class="ml-4 list-inline-item">
                        <a href="https://www.linkedin.com/in/kayque-p-584669116/" title="Linkedin" target="_blank">
                            <i class="fa fa-linkedin fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="footer-info-single">
                    <h2 class="title">Dependências</h2>
                    <ul class="list-unstyled">
                        <li><a href="https://angular.io/docs" title="Angular" target="_blank"><i
                  class="fa fa-angle-double-right mr-2"></i>Angular</a></li>
                        <li><a href="https://github.com/angular/in-memory-web-api" title="angular-in-memory-api" target="_blank"><i
                  class="fa fa-angle-double-right mr-2"></i>Angular in memory web API</a></li>
                        <li><a href="https://www.primefaces.org/primeng/" title="PrimeNG" target="_blank"><i
                  class="fa fa-angle-double-right mr-2"></i>PrimeNG</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <section class="copyright">
        <div class="row justify-content-center">
            <small class="grey">version: 1.0</small>
        </div>
    </section>

</footer>
