<div class="card mt-5">
    <h2 class="h2 card-title mt-2 mb-1 text-center title-font">Bem Vindo ao Projeto Finasys</h2>
    <div class="card-body">
        <h5 class="h5 text-muted text-center card-subtitle font-open w300">Sistema para organização das finanças</h5>
        <div class="container">
            <ul class="list-group float-left font-open w400">Github
                <li class="list-group-item"><a href="https://github.com/kayqueprado580/Finasys/blob/project-improvements/src/app/in-memory-database.ts" target="_blank" class="card-text">Backend</a></li>
                <li class="list-group-item"><a href="https://github.com/kayqueprado580/Finasys/tree/project-improvements" target="_blank" class="card-text">Frontend</a></li>
            </ul>

            <a href="/reports" class="btn btn-warning font-open w300 mt-5 float-right">vamos ao projeto <i class="fa fa-hand-pointer-o" aria-hidden="true"></i></a>
        </div>
    </div>
</div>

<app-footer></app-footer>